/* header and footer starts*/
header{
    text-align: center;
    font-family: 'Gill Sans','sans-serif';
}

footer{
    background-color: #333;
    color:white;
    padding:20px 0;
    text-align: center;
}
/* header and footer ends*/

/* search box starts */
.searchBox{
    text-align: center;
}

#search{

    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 30px;

}

.searchButton{

    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
    height: 30px;
    background-color: rgb(99, 225, 223);

}
.country{
    text-align: center;
    background-color: rgb(178, 243, 243);
    padding: 20px;
}